{% extends 'base.html '%}
{% load bootstrap3 %}
{% block title_block %}School Registration {% endblock %}
{% block signupContent %}

   <div class="container">
       <h2>Register your Schools Authority</h2>
       <form method="POST">
       	   {% csrf_token %}
       	   {% bootstrap_form form %}
{#       	   <input type="submit" class="btn btn-default"  value="Sign up">#}
           <button type="submit" class="btn btn-primary active btn-block" >Sign up</button>
           <p class="fa-align-center">Alredy have an account?
           <a href="{% url 'accounts:login' %}" class="btn btn-default">Login here</a>
           </p>
       </form>
   </div>
{% endblock %}